@model IEnumerable<HMS.Models.DoctorsModel>
@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hospital Management System</title>



</head>

<body>

    <div id="wrapper">
        <div id="content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-primary o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-user-md"></i>
                                </div>
                                <h2>
                                    <div class="mr-5">Доктори </div>
                                    <span style="display:inline-block; width: 270px;"></span> @ViewData["doctors"]
                                </h2>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "Doctors")">
                                <span class="float-left">Детайли</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-warning o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fab fa-accessible-icon"></i>
                                </div>
                                <h2>
                                    <div class="mr-5">Пациенти </div>
                                    <span style="display:inline-block; width: 270px;"></span> @ViewData["patients"]
                                </h2>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Index", "Patient")">
                                <span class="float-left">Детайли</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-success o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                                <h2> <div class="mr-5">Промяна на часовете </div></h2>
                            </div>
                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("Cal", "Home")">
                                <span class="float-left">Детайли</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-sm-6 mb-3">
                        <div class="card text-white bg-danger o-hidden h-100">
                            <div class="card-body">
                                <div class="card-body-icon">
                                    <i class="fas fa-edit"></i>
                                </div>
                                <h2> <div class="mr-5">Промяна на профила </div></h2>
                            </div>

                            <a class="card-footer text-white clearfix small z-1" href="@Url.Action("EditProfile", "Doctors")">
                                <span class="float-left">Детайли</span>
                                <span class="float-right">
                                    <i class="fas fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div id="calender"></div>
                    <div class="form-group">
                        <div class="checkbox" style="visibility:hidden">
                            <label><input type="checkbox" id="chkIsFullDay" checked="checked" /></label>
                        </div>
                    </div>
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><span id="eventTitle"></span></h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body">
                                    <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                                        <span class="glyphicon glyphicon-remove"></span> Премахни
                                    </button>
                                    <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px;">
                                        <span class="glyphicon glyphicon-pencil"></span> Промяна
                                    </button>
                                    <p id="pDetails"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="myModalSave" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Промяна на събитие</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>
                                <div class="modal-body" style="padding: 25px">
                                    <form class="form-horizontal">
                                        <input type="hidden" id="hdEventID" value="0" />
                                        <div class="form-group">
                                            <label>Тема</label>
                                            <input type="text" id="txtSubject" class="form-control" />
                                        </div>
                                        <div class="form-group">
                                            <label>Начална дата</label>
                                            <div class="input-group date" id="dtp1" style="display:-webkit-box">
                                                <input type="text" id="txtStart" class="form-control" />
                                                <span class="input-group-addon" style="padding: 8px 12px">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group" id="divEndDate" style="display:none">
                                            <label>Крайна дата</label>
                                            <div class="input-group date" id="dtp2" style="display:-webkit-box">
                                                <input type="text" id="txtEnd" class="form-control" />
                                                <span class="input-group-addon" style="padding: 8px 12px">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label>Описание</label>
                                            <textarea id="txtDescription" rows="3" class="form-control"></textarea>
                                        </div>



                                        <button type="button" id="btnSave" class="btn btn-success">Запази</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Затвори</button>
                                        <textarea id="hdDoctor" class="form-control" style="visibility:hidden">@Session["Id_d"]</textarea>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>

</html>
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
@section scripts{
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                events = [];
                $.ajax({
                    type: "GET",
                    url: "/Home/GetEvents",
                    success: function (data) {
                        $.each(data, function (i, v) {
                            events.push({
                                Fk_doc: v.Fk_doc,
                                eventID: v.EventID,
                                title: v.Subject,
                                description: v.Description,
                                start: moment(v.Start_date),
                                end: v.End_date != null ? moment(v.End_date) : null
                            });

                        })

                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }

            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({
                    contentHeight: 400,
                    defaultDate: new Date(),
                    timeFormat: 'HH:mm',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },
                    defaultView: 'basicDay',
                    eventLimit: true,
                    eventColor: '#378006',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Start:</b>' + calEvent.start.format("DD-MMM-YYYY HH:mm")));
                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b>' + calEvent.end.format("DD-MMM-YYYY HH:mm")));
                        }
                        $description.append($('<p/>').html('<b>Description:</b>' + calEvent.description));
                        $('#myModal #pDetails').empty().html($description);

                        $('#myModal').modal();
                    },
                    selectable: true,
                    select: function (start, end) {
                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start: start,
                            end: end,
                            allDay: false,
                            color: ''
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },
                    editable: true,
                    eventDrop: function (event) {
                        var data = {
                            EventID: event.eventID,
                            Subject: event.title,
                            Start_date: event.start.format('DD/MM/YYYY HH:mm'),
                            End_date: event.end != null ? event.end.format('DD/MM/YYYY HH:mm') : null,
                            Description: event.description

                        };
                        SaveEvent(data);
                    }
                })
            }

            $('#btnEdit').click(function () {
                //Open modal dialog for edit event
                openAddEditForm();
            })
            $('#btnDelete').click(function () {
                if (selectedEvent != null && confirm('Сигурнили сте?')) {
                    $.ajax({
                        type: "POST",
                        url: '/Home/DeleteEvent',
                        data: { 'eventID': selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                FetchEventAndRenderCalendar();
                                $('#myModal').modal('hide');
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                }
            })

            $('#dtp1,#dtp2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });

            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            });

            function openAddEditForm() {
                if (selectedEvent != null) {
                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY HH:mm') : '');
                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                }
                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

            $('#btnSave').click(function () {
                //Validation/
                if ($('#txtSubject').val().trim() == "") {
                    alert('Темата е задължителна');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Началната дата е задължителна');
                    return;
                }
                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('Крайната дата е задължителна');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY HH:mm").toDate();
                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY HH:mm").toDate();
                    if (startDate > endDate) {
                        alert('Невалидна крайна дата');
                        return;
                    }
                }

                var data = {
                   
                   // Fk_doc: Session["Id_d"],
                    EventID: $('#hdEventID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start_date: $('#txtStart').val().trim(),
                    End_date: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked'),
                    Fk_doc: $('#hdDoctor').val()
                }
                SaveEvent(data);
                // call function for submit data to the server
            })

            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/Home/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }
        })
    </script>
}