@model HMS.Models.PatientsModel

@{
    ViewBag.Title = "Delete";
}

<h2>Изтриване</h2>

<h3>Сигурни ли сте, че искате да изтриете?</h3>
<div>
    <h4>PatientsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_mid_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_mid_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_family_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_family_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_egn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_egn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_blood_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_blood_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_doc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
