@model HMS.Models.PatientsModel
@{
    ViewBag.Title = "Details";
}

<h2>Детайли</h2>
<div class="btn btn-default" style="background-color:#F5CC00">
    @Html.ActionLink("Списък с пациенти", "Index")
</div>
@if (Convert.ToString(Session["U_user_level"]) == "Doctor")
{
    @Html.ActionLink("Тест", "Create", "Prescription", null, new { @class = "btn btn-default" })
}
<div class="form-horizontal">
    <div class="row">
        <div class="col-sm-3">
            <br />
            <strong> @Html.DisplayNameFor(model => model.P_first_name)</strong> @Html.DisplayFor(model => model.P_first_name)
            <br /> <br />
            <strong>@Html.DisplayNameFor(model => model.P_mid_name)</strong> @Html.DisplayFor(model => model.P_mid_name)
            <br /> <br />
            <strong>
                @Html.DisplayNameFor(model => model.P_family_name)
            </strong> @Html.DisplayFor(model => model.P_family_name)
            <br /> <br />
            <strong>
                @Html.DisplayNameFor(model => model.P_egn)
            </strong>  @Html.DisplayFor(model => model.P_egn)
            <br /> <br />
            <strong>@Html.DisplayNameFor(model => model.P_gender)</strong>  @Html.DisplayFor(model => model.P_gender)

        </div>

        <div class="col-sm-3">
            <br />
            <strong>@Html.DisplayNameFor(model => model.P_address)</strong>  @Html.DisplayFor(model => model.P_address)
            <br /> <br />
            <strong>@Html.DisplayNameFor(model => model.P_datetime)</strong>  @Html.DisplayFor(model => model.P_datetime)
            <br /> <br />
            <strong>@Html.DisplayNameFor(model => model.P_blood_group)</strong>  @Html.DisplayFor(model => model.P_blood_group)
            <br /> <br />
            <strong>@Html.DisplayNameFor(model => model.P_phone)</strong>  @Html.DisplayFor(model => model.P_phone)
            <br /> <br />
            <strong>@Html.DisplayNameFor(model => model.email_pat)</strong>  @Html.DisplayFor(model => model.email_pat)

        </div>
        @if (Convert.ToString(Session["U_user_level"]) == "Admin")
        {
            <div class="col-sm-3">
                @{Html.RenderAction("IndexUser", "Patient");}
            </div>
        }
    </div>
    <br />
    <div class="col-sm-6">
        @{Html.RenderAction("Index", "Prescription");}

    </div>
    <div class="col-sm-6">
        @{Html.RenderAction("Index", "Recept");}
    </div>
</div>

    @if (Convert.ToString(Session["U_user_level"]) == "Doctor")
    {


    }

