@model HMS.Models.ViewModel

@{
    ViewBag.Title = "Detailsfd";
}

<h2>Detailsfd</h2>

<div>
    <h4>ViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_p)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_p)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_mid_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_mid_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_family_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_family_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_egn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_egn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.P_blood_group)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.P_blood_group)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Id_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_doc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_add)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_add)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_patient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_patient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_doctor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
