@{ 


}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Custom fonts for this template-->
        <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

        <!-- Page level plugin CSS-->
        <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="~/Content/css/sb-admin.css" rel="stylesheet">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            .mynav_navbar {
                overflow: hidden;
                background-color: #222222;
            }

                .mynav_navbar a {
                    float: left;
                    font-size: 16px;
                    color: white;
                    text-align: center;
                    padding: 14px 16px;
                    text-decoration: none;
                }

            .mynav_dropdown {
                float: left;
                overflow: hidden;
            }

                .mynav_dropdown .mynav_dropbtn {
                    font-size: 16px;
                    border: none;
                    outline: none;
                    color: #9d9d9d;
                    padding: 14px 16px;
                    background-color: inherit;
                    font-family: inherit;
                    margin: 0;
                }

                .mynav_navbar a:hover, .mynav_dropdown:hover .mynav_dropbtn {
                    background-color: #222222;
                }

            .mynav_dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .mynav_dropdown-content a {
                    float: none;
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    text-align: left;
                }

                    .mynav_dropdown-content a:hover {
                        background-color: #ddd;
                    }

            .mynav_dropdown:hover .mynav_dropdown-content {
                display: block;
            }
        </style>
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink("Начало", "Index", "Home")</li>
                        <div class="mynav_navbar">
                            <div class="mynav_dropdown">
                                <button class="mynav_dropbtn">
                                    Списък
                                    <i class="fa fa-caret-down"></i>
                                </button>

                                <div class="mynav_dropdown-content">
                                    <a href="@Url.Action("Index", "Doctors")">Списък с доктори</a>
                                    @if (Convert.ToString(Session["U_user_level"]) == "Doctor")
                                    {<a href="@Url.Action("Index", "Patient")">Списък с пациенти</a>}
                                </div>

                            </div>
                        </div>
                        <div class="mynav_navbar">
                            <div class="mynav_dropdown">
                                <button class="mynav_dropbtn">
                                    Добавяне
                                    <i class="fa fa-caret-down"></i>
                                </button>
                                <div class="mynav_dropdown-content">
                                    <a href="@Url.Action("Create", "Doctors")">Добавяне на доктор</a>
                                    <a href="@Url.Action("Create", "Patient")">Добавяне на пациент</a>
                                </div>
                            </div>
                        </div>
                        @if (Convert.ToString(Session["U_user_level"]) == "Doctor")
                        {
                            <li>@Html.ActionLink("Календар", "Cal", "Home")</li>
                        }
                            <li>@Html.ActionLink("Всички пациенти", "IndexAll", "Patient")</li>
                        </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        <li><a> Добре дошли @Session["U_username"]</a></li>
                        
                        <li>@Html.ActionLink("Изход", "Logout", "Users")</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="container-fluid body-content" style="background: #EAECEE; width: 100vw;
  min-height: 100vh;">
            @RenderBody()

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)

    </body>
</html>
